# Dependencies
/node_modules
/.pnp
.pnp.js
/coverage
/public/users.db

# Build outputs
/.next/
/out/
/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env*.local

# Other
.DS_Store
*.pem
*.tsbuildinfo